<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="utf-8">
    <title>InsuranceApp</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    {# <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" /> #}
    <script src="https://kit.fontawesome.com/649b5307d8.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'insuranceapp/style.css' %}">
</head>
<body>
    <header>
        <h1>InsuranceApp</h1>
        {% comment %}
        <nav>
            <a href="{% url 'insuranceapp:base'%}">Home</a>
            <a href="/">Products</a>
            <a href="{% url 'insuranceapp:policyholder-list'%}">Policyholders</a>
            <a href="/">Insurances</a>
            <a href="/">Contact</a>
        </nav>
        {% endcomment %}
    </header>
    <main>
        {% block content %}
            <h3>Welcome to the Insurance app!</h3>
        {% endblock content %}
    </main>
    <footer>
        <p><b>Disclaimer:</b> None of the insurances purchased through <i>InsuranceApp&reg;</i> are regulated by any authority.</p>
    </footer>
</body>
</html>
