{% extends "insuranceapp/insurance_detail.html" %}

{% block insurance %}
    {% if lifeinsurance.insured %}
        <p><b>Insured:</b> {{ lifeinsurance.insured.full_name }}</p>
    {% else %}
        <p><b>Insured:</b> {{ lifeinsurance.policyholder.full_name }}</p>
    {% endif %}
    {% if lifeinsurance.beneficiary %}
        <p><b>Beneficiary:</b> {{ lifeinsurance.beneficiary.full_name }}</p>
    {% else %}
        <p><b>Beneficiary:</b> {{ lifeinsurance.policyholder.full_name }}</p>
    {% endif %}
{% endblock insurance %}