{% extends "insuranceapp/base.html" %}

{% block content %}
    <a href="{% url 'insuranceapp:policyholder-detail' policyholder.id %}">
        <i class="fa-solid fa-user"></i>
        Detail
    </a>
    <h4>Delete Policyholder</h4>
    <form method="post">
        <p>Are you sure you want to delete policyholder {{ policyholder.full_name }}?</p>
        {% csrf_token %}
        {{ form.as_div }}
        <button class="button-delete" type="submit">
            <i class="fa-solid fa-user-minus"></i>
            Delete
        </button>
    </form>
{% endblock content %}