{% extends "insuranceapp/base.html" %}

{% block content %}
    <h3>List of Policyholders</h3>
    <a href="{% url 'insuranceapp:policyholder-create' %}">Create Policyholder</a>
    {% if policyholder_list %}
        <table>
            <tr>
                <th>Last Name</th>
                <th>First Name</th>
                <th>Birth Date</th>
                <th>Personal ID</th>
                <th>Policyholder Detail</th>
            </tr>
            {% for policyholder in policyholder_list %}
                <tr>
                    <td>{{ policyholder.last_name }}</td>
                    <td>{{ policyholder.first_name }}</td>
                    <td>{{ policyholder.birth_date|date:"d.m.Y" }}</td>
                    <td>{{ policyholder.personal_identification_number_as_string }}</td>
                    <td><a href="{% url 'insuranceapp:policyholder-detail' policyholder.id %}">Detail</a></td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p><i>There are no registered policyholders yet.</i></p>
    {% endif %}
{% endblock content %}