{% extends "insuranceapp/base.html" %}

{% block content %}
    {% if policyholder %}
        <h3>Update Policyholder</h3>
        <a href="{% url 'insuranceapp:policyholder-detail' policyholder.id %}">Policyholder Detail</a>
    {% else %}
        <h3>Create Policyholder</h3>
        <a href="{% url 'insuranceapp:policyholder-list' %}">List of Policyholders</a>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_div }}
        <input type="submit" value="Save">
    </form>
{% endblock content %}