{% extends "insuranceapp/base.html" %}

{% block content %}
    <section>
        <a href="{% url 'insuranceapp:policyholder-list' %}">
            <i class="fa-solid fa-user-group"></i>
            Policyholders
        </a>
        <h3 class="myheader">Policyholder Detail</h3>
        <p><b>Name</b>: {{ policyholder.full_name }}</p>
        <p><b>Birth</b> date: {{ policyholder.birth_date|date:"d.m.Y" }}</p>
        <p><b>Personal ID:</b> {{ policyholder.personal_identification_number_as_string }}</p>
        <p><b>Address</b>: {{ policyholder.address }}</p>
        <p><b>Email</b>: {{ policyholder.email }}</p>
        <p><b>Phone</b>: {{ policyholder.phone }}</p>
        <p><b>Registered</b>: {{ policyholder.registration_date|date:"d.m.Y" }}</p>
        <a class="button button-update" href="{% url 'insuranceapp:policyholder-update' policyholder.id %}">
            <i class="fa-solid fa-user-pen"></i>
            Update
        </a>
        <a class="button button-delete" href="{% url 'insuranceapp:policyholder-delete' policyholder.id %}">
            <i class="fa-solid fa-user-minus"></i>
            Delete
        </a>
    </section>
    <section>
        <h4>Insurance Products</h4>
        <form action="{% url 'insuranceapp:insurance-product-select' policyholder.id %}" method="post">
            {% csrf_token %}
            {% for insurance_product_name, insurance_create_url in insurances.items %}
                <div>
                    <input type="radio" id="{{ insurance_product_name }}" name="insurance_create_url" value="{{ insurance_create_url }}"
                    {% if forloop.counter == 1 %} 
                        checked
                    {% endif %}
                    >
                    <label for="{{ insurance_product_name }}">{{ insurance_product_name }}</label>
                </div>
            {% endfor %}
            <div>
                <button class="button-create" type="submit">
                    <i class="fa-solid fa-file-circle-plus"></i>
                    Create
                </button>
            </div>
        </form>
    </section>
    <section>
        <h4>List of Insurances</h4>
        {% if policyholder_isurance_list %}
            <table>
                <thead>
                    <tr>
                        <th>Insurance Product</th>
                        <th>Contract Date</th>
                        <th>Valid From</th>
                        <th>Valid To</th>
                        <th>Insurance Detail</th>
                    </tr>
                </thead>
                <tbody>
                    {% for policyholder_isurance in policyholder_isurance_list %}
                        <tr>
                            <td>{{ policyholder_isurance.insurance_product_name }}</td>
                            <td>{{ policyholder_isurance.contract_date|date:"d.m.Y" }}</td>
                            <td>{{ policyholder_isurance.valid_from_date|date:"d.m.Y" }}</td>
                            <td>{{ policyholder_isurance.valid_to_date|date:"d.m.Y" }}</td>
                            <td>
                                <a class="button button-detail" href="{{ policyholder_isurance.get_detail_url }}">
                                    <i class="fa-solid fa-file"></i>
                                    Detail
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p><i>There are no contracted insurances yet.</i></p>
        {% endif %}
    </section>
{% endblock content %}